<%= live_modal_context @socket, BookmarkWeb.ContextsLive.FormComponent,
  id: @contexts.id || :new_contexts,
  title: @page_title,
  action: @live_action,
  contexts: @contexts,
  return_to: Routes.contexts_index_path(@socket, :index)
%>
