
<div class="flex justify-end mb-4">
  <%= live_patch "New Bookmarks", to: Routes.bookmarks_new_path(@socket, :new), class: "bg-blue-500 font-bold hover:bg-blue-700 px-4 py-2 rounded text-white" %>
</div>

<%= live_modal_bookmark @socket, BookmarkWeb.BookmarksLive.FormComponent,
  id: @bookmarks.id || :new,
  title: @page_title,
  action: @live_action,
  bookmarks: @bookmarks,
  return_to: Routes.bookmarks_index_path(@socket, :index)
%>
