<%= live_modal_bookmark @socket, BookmarkWeb.BookmarksLive.FormComponent,
  id: @bookmarks.id || :new,
  title: @page_title,
  action: @live_action,
  bookmarks: @bookmarks,
  return_to: Routes.bookmarks_index_path(@socket, :index)
%>
